{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.ClientId }}</td>
                <td>{{ client.firstName }}</td>
                <td>{{ client.lastName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <h1>New Client</h1>
    </div>
    <div class="row">
        {{ form(form) }}
    </div>
{% endblock %}
